button.eager-back-to-top-button {
  text-rendering: optimizeLegibility;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -webkit-appearance: none;
  appearance: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antaliased;
  display: block;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  position: fixed;
  height: 75px;
  width: 75px;
  bottom: 25px;
  right: 25px;
  font-size: 40px;
  line-height: 75px;
  border-radius: 5px;
  background: #ccc;
  background-color: rgba(0, 0, 0, .1);
  border: 0;
  outline: none;
  cursor: pointer;
  font-family: sans-serif;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  letter-spacing: 0;
  text-align: center;
  opacity: 0;
  -webkit-transition: opacity .3s ease-in-out;
  -moz-transition: opacity .3s ease-in-out;
  transition: opacity .3s ease-in-out;
  pointer-events: none;
  z-index: 7000;
}

@media (max-width: 786px) {
  button.eager-back-to-top-button {
    height: 50px;
    width: 50px;
    font-size: 25px;
    line-height: 50px;
    border-radius: 3px;
    right: 10px;
    bottom: 10px;
  }
}

button.eager-back-to-top-button[show="true"] {
  pointer-events: all;
  opacity: 1;
}

button.eager-back-to-top-button text, button.eager-back-to-top-button text:before, button.eager-back-to-top-button text:after {
  pointer-events: none;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
}

button.eager-back-to-top-button text:before {
  color: #aaa;
  color: rgba(0, 0, 0, .4);
  content: "\21E7";
}
